.dashboard-container {
  min-height: 100vh;
  /* margin-bottom: 250px; */
}
.coursesDashboard {
  margin: 4rem 4rem;
}
.searchbar {
  margin-bottom: 4rem;
}
.coursesCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}
.create_newcourse {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
