.contactusContainer {
  background-color: #eeeeee;
}
.sendmsg_btn {
  margin-top: 2rem;
  text-align: right;
}
.contactus_geading {
  margin-bottom: 2rem;
}


@media screen and (min-width: 800px) {
  .contactusContainer {
    width: 60%;
    padding: 4rem;
    margin: 5rem auto;
  }
}
@media screen and (max-width: 800px) {
    .contactusContainer {
      width: 80%;
      padding: 4rem;
      margin: 5rem auto;
    }
  }
  @media screen and (max-width: 500px) {
    .contactusContainer {
      width: 95%;
      padding: 2rem;
      margin: 5rem auto;
    }
  }
/* @media screen and (max-width: 500px) {
  .contactusContainer {
    width: 80%;
    padding: 2rem;
    margin: 5rem auto;
  }
} */
