.avatarpic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.greeting {
  color: white;
}
.avatar {
  text-align: center;
}
.avatar-container {
  display: flex;
}
.threedots {
  color: white;
  font-size: 200% !important;
  align-self: center;
}
@media screen and (max-width: 765px) {
  .avatar-container {
    display: none;
  }
}
