.avatarpic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.greeting {
  color: white;
}
.avatar {
  text-align: center;
}
.avatarcontainer {
  display: flex;
}
.threedots {
  color: white;
  font-size: 200% !important;
  align-self: center;
  cursor: pointer;
  margin-left: 1rem;
}
.threedots:hover{
  color:#ffa800;
}
.moremenu {
  background-color: #212529;
  position: absolute;
  top: 6rem;
  right: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}
.moremenulist {
  margin: 1rem auto;
  padding: .25rem 2rem;
}
.options{
color: white;
}
.moremenulist:hover {
  text-decoration: 3px solid underline rgba(9, 5, 59, 0.823);
  background-color: #ffa800;;
}
@media screen and (max-width: 992px) {
  .avatarcontainer {
    display: none;
  }
}
