.SignIn-wrapper {
  position: absolute;
  top: 8rem;
  right: 4rem;
  max-width: 700px;
  min-width: 500px;
  background-color: #eeeeee;
  padding: 2rem;
}
.login-header {
  color: #141f49;
}
#signin-btn {
  background-color: #141f49;
  border: none;
  padding: 0.5rem 2.5rem;
  margin-bottom: 1rem;
}
.signIn-closebtn {
  text-align: right;
  cursor: pointer;
}
