.courseCard{
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 4rem;
}
.finishmsg_btn{
  margin-top: 0.05rem;
  margin-left: 25rem;
  color: brown;
  text-align: right;
}

.signIn_closebtn {
  text-align: right;
  cursor: pointer;
  color: black !important;

}