.footer-container {
  height: 250px;
  background-color: #eeeeee;
  padding: 2rem 4rem 4rem 4rem;
}
.footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.footer-contact h5{
    font-weight: bolder;
    text-decoration:underline #ffa800;
}
.logotxt{
    font-weight: bolder;
}
.footer-contact {
  border-right: 2px solid #ffa800;
}
.footer-contact span {
  font-weight: bold;
}
.footer-social .icon {
  margin: 0 1.5rem;
}
.footer-container .copyrigth {
  font-size: 0.75rem;
  text-align: center;
}
