.detailcourseContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    padding-left: 4rem;
    padding-right: 1rem;
    overflow: hidden;
    height: 100vh;
}

.lectureListContainer{
    overflow-y: scroll;
    background-color: #eeeeee;
}

.heading{
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}