.modulesList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 195, 192);
    padding: 0.5rem 1rem ;
    margin: 0.5rem 0;
}
.modulesList:hover{
    cursor: pointer;
    background-color: beige;
}
.modulesList h6 {
    color: black;
    font-weight: bold;
    font-size: 1.75rem;
}