.contactusContainer {
  background-color: #eeeeee;
  position: absolute;
  top: 3.5rem;
  z-index: 100;
  /* margin: 0 auto; */
  left: 50%;
  transform: translateX(-50%);
  }
.sendmsg_btn {
  margin-top: 2rem;
  text-align: right;
}
.contactus_geading {
  margin-bottom: 2rem;
}


@media screen and (min-width: 800px) {
  .contactusContainer {
    width: 60%;
    padding: 4rem;
    margin: 5rem auto;
  }
}
@media screen and (max-width: 800px) {
    .contactusContainer {
      width: 80%;
      padding: 4rem;
      margin: 5rem auto;
    }
  }
  @media screen and (max-width: 500px) {
    .contactusContainer {
      width: 95%;
      padding: 2rem;
      margin: 5rem auto;
    }
  }
  .signIn_closebtn {
    text-align: right;
    cursor: pointer;
    color: black !important;

  }


  
/* @media screen and (max-width: 500px) {
  .contactusContainer {
    width: 80%;
    padding: 2rem;
    margin: 5rem auto;
  }
} */