.contactusContainer {
  background-color: #eeeeee;
  position: absolute;
  top: 3.5rem;
  z-index: 150;
  left: 50%;
  transform: translateX(-50%);
  }
.sendmsg_btn {
  margin-top: 2rem;
  text-align: right;
}
.contactus_heading {
  margin-bottom: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 990px) {
  .contactusContainer {
    width: 50%;
    padding: 2rem 4rem;
    margin: 5rem auto;
    transform: translateX(-70%);
  }
}
@media screen and (max-width: 990px) {
    .contactusContainer {
      width: 70%;
      padding: 2rem 2rem;
      margin: 5rem auto;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 750px) {
    .contactusContainer {
      width: 90%;
      top: 5rem;
      padding: 2rem 2rem;
      margin: 5rem auto;
    }
  }
  .signIn_closebtn {
    text-align: right;
    cursor: pointer;
    color: black !important;
  }
