.NavbarContainer {
  height: 6rem;
}
.nav-logo {
  width: 7rem;
  height: 5.9rem;
}
.navbar-toggler{
  background-color: #eeeeee !important;
}

Nav .menu-list {
  color: #000000;
  font-weight: bold;
}
@media screen and (min-width: 765px) {
  Nav .menu-list {
    color: #ffffff;
  }
  Nav .menu-list:hover {
     background-color: #ffa800;
     margin-right: 0;
  }
}
Nav .dispbtn{
  display: none;
}
@media screen and (max-width: 991px) {
  .nav-logo{
    height: 4.5rem;
  }

  Nav .menu-list {
    color: #000000;
  }
  .me-auto {
    position: absolute;
    top: 6rem;
    left: 0;
    min-width: 250px;
    max-width: 50%;
    height: 250px;
    padding: 1rem;
    text-align: center;
    background-color: #eeeeee;
    z-index: 100;
  }
  Nav .dispbtn{
    display: block;
  }
}
@media screen and (max-width:830px){
  .nav-logo{
    display: none;
  }
  .menu-list:hover{
    text-decoration: 3px solid underline rgba(9, 5, 59, 0.823);
    background-color: #ffa800;;
  }
}
