:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    max-width: 20rem;
    max-height: 20rem;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually_hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile_image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile_image img {
    border-radius: 50%;
}

.profile_user_settings,
.profile_stats,
.profile_bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile_user_settings {
    margin-top: 1.1rem;
}

.profile_user_name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile_edit_btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile_settings_btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile_stats {
    margin-top: 2.3rem;
}

.profile_stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile_stats li:last_of_type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile_real_name,
.profile_stat_count,
.profile_edit_btn {
    font-weight: 600;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile_image,
    .profile_user_settings,
    .profile_bio,
    .profile_stats {
        float: none;
        width: auto;
    }

    .profile_image img {
        width: 7.7rem;
    }

    .profile_user_settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile_user_name {
        font-size: 2.2rem;
    }

    .profile_edit_btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile_edit_btn {
        margin-left: 0;
    }

    .profile_bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile_edit_btn,
    .profile_bio,
    .profile_stats {
        flex-basis: 100%;
    }

    .profile_stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile_stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile_stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile_stat_count {
        display: block;
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile_image {
        grid-row: 1 / -1;
    }

    .profile_image,
    .profile_user_settings,
    .profile_stats,
    .profile_bio {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile_image {
            grid-row: 1 / 2;
        }

        .profile_user_settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile_edit_btn,
        .profile_stats,
        .profile_bio {
            grid-column: 1 / -1;
        }

        .profile_user_settings,
        .profile_edit_btn,
        .profile_settings_btn,
        .profile_bio,
        .profile_stats {
            margin: 0;
        }
    }
}