.courseCard{
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 4rem;
}
.innercourseCard{
    width: 100%;
}
.cta{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}
.courseprice{
  text-align: center;
  font-weight: bold;
}
.btn{
    border-radius: 0 !important;
}
.price-creator{
    display: flex;
    justify-content: space-between;
}
.createdby{
    font-style: italic;
    color:rgb(137, 138, 139)
}